.section + .section {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #ccc;
}

.b {
  display: none;
}

:global(.edge-experiment-invert-order-homepage) {
  .a {
    display: none;
  }

  .b {
    display: block;
  }
}
